.App {
    text-align: center;
}

.App-logo {
    height: 8vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

table.app-banner td {
    vertical-align: top;
}

table.app-banner {
    display: inline;
    vertical-align: bottom;
    margin-right: 300px;
}

table.app-banner {
    border: thin black solid;
}

table.app-banner, table.app-banner tr td,  table.app-banner tr th {
    border: none;
    /*vertical-align: top;*/
}

table.app-banner tr td:nth-child(2) {
    border-right: thin black solid;
}

table.app-banner tr th:nth-child(1)  {
    /*border-left: thin black solid;*/
    border-right: thin black solid;
}

/*table.app-banner tr th:nth-child(odd) {*/
/*    border-right: thin black solid;*/
/*}*/

.app-title {
    font-size: x-large;
    font-weight: bold;
    text-shadow: 4px 4px 8px #aaa;
}

.simple-list {
    list-style-type: none;
}
 .bordered {
     padding: 5px;
     border: thin black solid;
 }
