body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #283966;
  background-color: #eeeeee;
  margin: 20px;
  width: auto;
}

.palforge {
  display: flex;
  flex-direction: row;
}

div {
  margin: 5px;
}

.list {
  padding: 0px;
  margin-top: -5px;

}
.list-item {
  border: 1px solid black;
  padding: 0px 5px;
}

.pal-button {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:6px 18px;
  margin:3px ;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.pal-button:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
}
.pal-button:active {
  position:relative;
  top:1px;
}
.pal-display {
  display: block;
//height: 8em;
  width: 45em;
}

.palindrome-input {
  height: 8em;
  width: 35em;
  border: thick red;
}

.is-pal {
  background-color: #ddeedd;
}
.not-pal {
  background-color: #eedddd;
}

.input-area {
  padding: 10px;
  background-color: #ededcb;
}
.section-border {
  border: #283966 2px solid;
}


.midpoint {
  font-weight: bold;
  font-size: larger;
}
.indent {
  margin-left: 25px;
  padding: 5px 5px;
}

.thumb {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-size: 100% 100%;
  z-index: 1000;
}

.thumb-green {
  background: url("resources/green-thumbs-up.png") ;
}

.thumb-red {
   background: none;
}
.palindrome-status {
   font-size: x-small;
   text-align: left;
   vertical-align: after-edge;
  border : 1px solid #cccccc;
  padding: 1px 3px;
  height: 15px;
  width: 75px;
 }
.even-smaller {
  font-size: xx-small;
}
