body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #283966;
  background-color: #eeeeee;
  margin: 20px;
  width: auto;
  text-shadow: 1px 1px 1px #aaa;
}
.privacypolicy {
  font: 10px "Century Gothic", Futura, sans-serif;
  background-color: #fefefe;
  margin: 20px auto;
   width: 70%;
  height: 500px;
  overflow: scroll;
  text-shadow: none;
}

.palforge {
  display: flex;
  flex-direction: row;
}

div {
  margin: 5px;
}

div .padded {
  padding: 15px 30px;
}
p {
  margin: 5px;
}

div .no-margin {
  margin: 0px;
}


.list {
  padding: 0px;
  margin-top: -5px;
}

.list-item {
  border: 1px solid black;
  padding: 0px 5px;
  /*display: inline-block;*/
}

.pal-button {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:6px 18px;
  margin:3px ;
  text-decoration:none;
  text-shadow:1px 1px 1px #283966;
}

.pal-button:disabled, .pal-button:hover:disabled  {
  background: none;
  background-color:#aaccee;

}
.pal-button:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
}
.pal-button:active {
  position:relative;
  top:1px;
}
.pal-display {
  display: block;
//height: 8em;
  width: 45em;
}

.palindrome-input {
  height: 8em;
  width: 35em;
}

.is-pal {
  background-color: #ddeedd;
}
.not-pal {
  background-color: #eedddd;
}
.auth-content {
  margin-top: 50px;
}

.input-area {
  padding: 10px;
  background-color: #cccfcc;
}
.section-border {
  border: #283966 1px solid;
}

.midpoint {
  font-weight: bold;
  font-size: larger;
}
.indent {
  margin-left: 25px;
  padding: 5px 5px;
}

.thumb {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-size: 100% 100%;
  z-index: 1000;
}

.thumb-green {
  background: url("resources/green-thumbs-up.png") ;
}

.thumb-red {
   background: none;
}
.palindrome-status {
   font-size: x-small;
   text-align: left;
   vertical-align: after-edge;
  border : 1px solid #cccccc;
  padding: 1px 3px;
  height: 15px;
  width: 75px;
 }
.even-smaller {
  font-size: xx-small;
}


.radio-button {
  margin: 5px ;
  display: inline-block;
}

.checkbox {
   display: inline-block;
   margin: 7px;
 }

.profileImg {
  height: 60px;
  display: inline-block;
  float: left;
  margin: 3px;
}
table, td, th {
  border: thin black solid;
  border-collapse: collapse;
  padding: 3px 5px;
}

.right-just {
  float: right;
}
.left-just {
  float: left;
}
.clear-float {
  float: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button-with-icon {
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
}

table.palindrome-list th {
  background-color: #dddddd;
}
table.palindrome-list {
  border: solid 1px #888;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
table.palindrome-list thead th {
  background-color: #DDDDDD;
  border: solid 1px #888;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  /*text-shadow: 1px 1px 2px #aaa;*/
}
table.palindrome-list tbody td {
  border: solid 1px #888;
  color: #333;
  padding: 10px;
  /*text-shadow: 1px 1px 2px #aaa;*/
}